*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
      /* regole di debug */

body{
  height: 100vh;
}

main{
  width: 70%;
  margin: auto;
}

header{
  height: 50px;
  background: red;
  margin-top: 10px;
}

.content{
  height:250px;
  background: yellow;
  margin-top: 10px;
}

.article{
  height: 200px;
  background: blue;
  margin-top: 10px;
}


div, aside{
  background: lightblue;
  border: 1px solid black;
}

.title{
  height: 10%;
}

.left, .center, .right{
  float: left;
  height: calc(100% - 10%)
}

.left, .right{
  width: 20%;

}

.center{
  width: 60%;

}

.article:after{
  content:'';
  display: table;
  clear: both;
}

footer{
  height: 25px;
  background: green;

}
